<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meession.etm.module.crm.dal.mysql.statistics.CrmStatisticsPerformanceMapper">

    <select id="selectContractCountPerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT
            DATE_FORMAT(order_date, '%Y%m') AS time,
            COUNT(1) AS currentMonthCount
        FROM crm_contract
        WHERE deleted = 0
        AND audit_status = ${@com.meession.etm.module.crm.enums.common.CrmAuditStatusEnum@APPROVE.status}
        AND owner_user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        AND order_date between #{times[0],javaType=java.time.LocalDateTime} and
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectContractPricePerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT
            DATE_FORMAT(order_date, '%Y%m') AS time,
            IFNULL(SUM(total_price), 0) AS currentMonthCount
        FROM crm_contract
        WHERE deleted = 0
        AND audit_status = ${@com.meession.etm.module.crm.enums.common.CrmAuditStatusEnum@APPROVE.status}
        AND owner_user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        AND order_date between #{times[0],javaType=java.time.LocalDateTime} and
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectReceivablePricePerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT
            DATE_FORMAT(return_time, '%Y%m') AS time,
            IFNULL(SUM(price), 0) AS currentMonthCount
        FROM crm_receivable
        WHERE deleted = 0
        AND audit_status = ${@com.meession.etm.module.crm.enums.common.CrmAuditStatusEnum@APPROVE.status}
        AND owner_user_id in
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        AND return_time between #{times[0],javaType=java.time.LocalDateTime} and
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectFollowUpCountPerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT DATE_FORMAT(create_time, '%Y%m') AS time,
               COUNT(1) AS currentMonthCount
        FROM crm_follow_up_record
        WHERE deleted = 0
          AND biz_type = ${@com.meession.etm.module.crm.enums.common.CrmBizTypeEnum@CRM_CUSTOMER.type}
          AND creator IN
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
          AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectCustomerCountPerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT DATE_FORMAT(create_time, '%Y%m') AS time,
               COUNT(1) AS currentMonthCount
        FROM crm_customer
        WHERE deleted = 0
          AND owner_user_id IN
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
          AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

    <select id="selectBusinessCountPerformance"
            resultType="com.meession.etm.module.crm.controller.admin.statistics.vo.performance.CrmStatisticsPerformanceRespVO">
        SELECT DATE_FORMAT(create_time, '%Y%m') AS time,
               COUNT(1) AS currentMonthCount
        FROM crm_business
        WHERE deleted = 0
          AND owner_user_id IN
            <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
                #{userId}
            </foreach>
          AND create_time BETWEEN #{times[0],javaType=java.time.LocalDateTime} AND
            #{times[1],javaType=java.time.LocalDateTime}
        GROUP BY time
    </select>

</mapper>
