# IDE
.idea/
*.iml
*.iws
*.ipr
.history/
.vscode/

# Build

build/
.gradle/
*.class

# Dependencies
node_modules/
unpackage/

# Environment
.env
.env.local
application-my.yaml

# Logs
*.log

# OS
.DS_Store
Thumbs.db


# Config
*.keystore
.flattened-pom.xml

# Others
*.swp
*.xml.versionsBackup
yarn.lock
pnpm-lock.yaml
package-lock.json
