schema_version 1


operation {
  mode "check"

}

registry {
  host "ghcr.io"

}

image {
  server_builder_source "ghcr.io/elel-code/group-11-build-ubuntu:26.04-deno-2.9.3"
  server_builder_destination "ghcr.io/elel-code/group-11-build-ubuntu:26.04-deno-2.9.3"
  mall_builder_source "ghcr.io/elel-code/group-11-hbuilderx-ubuntu:26.04-5.05"
  mall_builder_destination "ghcr.io/elel-code/group-11-hbuilderx-ubuntu:26.04-5.05"

}

archive {
  directory "../images"
  server_builder_filename "mitedtsm-build-ubuntu-26.04.oci.tar"
  mall_builder_filename "mitedtsm-hbuilderx-ubuntu-26.04-5.05.oci.tar"
  overwrite #false
}
