schema_version 1


deployment {
  pod_name "mitedtsm-rootless"

}

endpoint {
  server_health_url "http://127.0.0.1:8080/actuator/health"
  web_url "http://127.0.0.1:8081/"
  mall_url "http://127.0.0.1:8082/"
  timeout_seconds 15
  expected_health_status "UP"

}

collection {
  log_since "30m"
  output_dir "../diagnostics"

}

containers {
  mysql "mitedtsm-rootless-mysql"
  redis "mitedtsm-rootless-redis"
  rabbitmq "mitedtsm-rootless-rabbitmq"
  tdengine "mitedtsm-rootless-tdengine"
  server "mitedtsm-rootless-server"
  web "mitedtsm-rootless-web"
  mall "mitedtsm-rootless-mall"

}

mysql {
  user "root"
  password "CHANGE_ME"
  database "mitedtsm_database"

}

thresholds {
  min_disk_free_percent 10
  max_host_memory_used_percent 90
  max_mysql_connection_used_percent 80
  max_recent_error_lines 20
  max_container_restarts 0
}
