schema_version 1


image {
  base "docker.io/library/ubuntu:26.04"
  standard "ghcr.io/elel-code/group-11-build-ubuntu:26.04-deno-2.9.3"
  rebuild #false

}

toolchain {
  deno_version "2.9.3"
  deno_binary_image "docker.io/denoland/deno:bin-2.9.3@sha256:b35d3898bc8b5e2ebcfc7c760578f635f0162cda02e4f8359056c44ea3cb9670"

}

build {
  include_targets "server,web"
  exclude_targets "mall-h5"
  clean #false
  infra_tests #false
  infra_coverage #false
  crm_tests #true
  crm_coverage #true
  bpm_tests #false
  bpm_coverage #false
  ci #true
  maven_threads 4
  deno_frozen_lockfile #true

}

network {
  use_host_proxy #false

}

web {
  baidu_analytics_code "disabled"
  legacy_media_origins "http://test.yudao.iocoder.cn"
  test_script "lint:crm-authorization"
  coverage_enabled #false
  coverage_threshold 90

}

cache {
  maven_volume "mitedtsm-build-maven-cache"
  deno_cache_volume "mitedtsm-build-deno-cache"
  deno_cache_path "/deno-cache"
  web_node_modules_volume "mitedtsm-build-web-node-modules"

}

runtime {
  memory "8g"
  cpus 4
}
