schema_version 1


endpoint {
  base_url "http://127.0.0.1:8080/admin-api"
  tenant_id 1

}

account {
  username "admin"
  password "admin123"

}

mysql {
  container "mitedtsm-rootless-mysql"
  user "root"
  password 1234
  database "mitedtsm_database"

}

image {
  // 仅使用已公开的 Ubuntu 26.04 工具链镜像在容器运行时生成验收 Excel。
  generator "ghcr.io/elel-code/group-11-build-ubuntu:26.04-deno-2.9.3"

}

test {
  customer_prefix "CRM_IMPORT_UAT"
}
