unpackage/*
!unpackage/dist/
unpackage/dist/*
!unpackage/dist/build/
unpackage/dist/build/*
!unpackage/dist/build/web/
!unpackage/dist/build/web/**
node_modules/*
.idea/*
deploy.sh
.hbuilderx/
.vscode/
**/.DS_Store
yarn.lock
package-lock.json
*.keystore
pnpm-lock.yaml
